*{
    font-family: 'Bebas Neue', sans-serif; 
}
.anashe a{
    font-size:30px;
}
.h1asd{
    background-color: #000000;
    color: white;
    font-size: 50px;
    width: 800px;
    height: 60px;
    justify-content: center;
    text-align: center;
    margin-left: 550px;
}
.formulario1{
    background-color:rgb(255, 255, 255);
    width: 700px;
    margin-left: 600px;
    font-size: 20px;
    padding: 30px;
}
footer{
    width: 100%;
    background: rgb(26, 26, 29);
    color: white;
    padding: 50px;
}
.tabla{
    background-color:rgb(54, 110, 239);
    width:960px;
    margin-left: 500px;
    margin-top: 50px;
    padding: 10px;
    border-radius: 40px;
}
.tabla th{
    padding: 20px 30px;
}
td{
    padding: 5px 25px;
}
.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 600px;
}

.colum1 h1{
    font-size: 25px;
}

.colum1 p{
    font-size: 22px;
    color: rgb(204, 198, 187);
    margin-top: 20px;
}
.colum2{
    max-width: 400px;
}

.colum2 h1{
    font-size: 25px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 35px;
    height: 35px;
}

.row label{
    margin-top: 10px;
    margin-left: 15px;
    color: rgb(204, 198, 187);
}

.colum3{
    max-width: 400px;
    
}

.colum3 h1{
    font-size: 25px;
}

.row2{
    margin-top: 20px;
    display: flex;
}
.row2 img{
    width: 35px;
    height: 35px;
}

.row2 label{
    margin-left: 20px;
    max-width: 150px;
    margin-top: 10px;
}
.en-este-espacio-puedes-escribir-tu-pregunta-queja {
    width: 573px;
    height: 164px;
    color: #000000;
    font-family: "Helvetica";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    text-align: left;
}


.titulo-h3 {

    color: #000000;
    font-family: "Arial";
    font-weight: bold;
    font-size: 26px;
    text-align: left;
    padding-top:120px;


}
h3{
    padding: 40px;
    background-color: aliceblue;
}

.col p{
    width: 400px;
    height: 164px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    float: left;
    background-color:rgb(54, 110, 239);
    height:300px;
    padding: 40px;
    font-size: 25px;
    border-radius:20px;

}

.col2{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.controls{
    font-size: 18px;
}

textarea{
    width: 400px;
    height: 200px;
}
.row-align-items-center{
    padding: 40px;
}