{% url 'carts:cart' as cart %}
{% url 'shipping_addresses:shipping_addresses' as shipping_addresses %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'ventas' %}">Platinium time
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'ventas' %}">Catalogo<span class="sr-only">(current)</span></a>
        </li>
       
       {% if user.is_authenticated %}         
         <li class="nav-item {% if request.path == shipping_addresses  %}active{% endif %}">
           <a class="nav-link" href="{{ shipping_addresses }}">Mis direcciones <span class="fas fa-location-arrow"></span>
           </a>
         </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link " href="{% url 'principal' %}">
          Volver al inicio <span class="fas fa-shopping-cart"></span>
        </a>
      </li>
        <li class="nav-item {% if request.path == cart  %}active{% endif %}">
          <a class="nav-link " href="{{ cart }}">
            Mi carrito <span class="fas fa-shopping-cart"></span>
          </a>
        </li>
      </ul>
      </form>
    </div>
  </nav>